<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
    <div class="panel-body-contents clearfix new-search-box">
        {{mount-widget widget="search-menu2"}}
        <!--<input id="search-term" type="text" value placeholder="search topics, posts, users, or categories">-->
        <!--<a href="/search?q=test&expanded=true"><i class="fa fa-search icon-search icon-2x"></i></a>-->

        <!--<div class="search-context">-->
            <!--<a class="widget-link show-help" href="/search?expanded=true" title="options"></a>-->
        <!--</div>-->
    </div>
</div>

<div class="list-controls">
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

<div class="bottom-content">
  <div class="sidebar">
    {{plugin-outlet "discovery-below"}}
  </div>

  <div class="container list-container {{if siteSettings.sidebar_enable "has-sidebar"}}">
    <div class="row">
      <div class="full-width">
        {{conditional-loading-spinner condition=loading}}

        <div id="header-list-area">
          {{outlet "header-list-container"}}
        </div>
      </div>
    </div>
    <div class="row {{if loading "hidden"}}">
      <div class="full-width">
        <div id="list-area">
          {{plugin-outlet "discovery-list-container-top"}}
          {{outlet "list-container"}}
        </div>
      </div>
    </div>
  </div>
</div>
