<div class="container">
    <div id="#homepage-banner">
        <img class="anomali-banner" src="https://c5175bd1-a-292700e4-s-sites.googlegroups.com/a/anomali.com/test-site/main/BACKGROUND.png?attachauth=ANoY7cpwp4o2eIaTSRcNdK7up0JL5Ts45Sj9NbkbK7jxlZCwVFPdK6SxipA9Fbm2WG5lsukA-gRv_xFbBCyaVOVEJ5YveUDrkGhHnvL2HBldvpYERnrQC29NBauI4c94L-BNnXZ4D6FM1U4rfqA9IR71zqs3B5mwy4cmeAj4sq_YDzht3ZHCzhcn5mlMcvS1Ri5-SbGRdgA7K22KZG9imHlpwQBEfJiNGA%3D%3D&attredirects=0" height="400" width="900">
    </div>

</div>

<div class="list-controls">
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

<div class="bottom-content">
  <div class="sidebar">
    {{plugin-outlet "discovery-below"}}
  </div>

  <div class="container list-container {{if siteSettings.sidebar_enable "has-sidebar"}}">
    <div class="row">
      <div class="full-width">
        {{conditional-loading-spinner condition=loading}}

        <div id="header-list-area">
          {{outlet "header-list-container"}}
        </div>
      </div>
    </div>
    <div class="row {{if loading "hidden"}}">
      <div class="full-width">
        <div id="list-area">
          {{plugin-outlet "discovery-list-container-top"}}
          {{outlet "list-container"}}
        </div>
      </div>
    </div>
  </div>
</div>
