<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<div class="list-controls">
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

<div class="sidebar">
  {{plugin-outlet "discovery-below"}}
</div>

<div class="container list-container {{if siteSettings.sidebar_enable "has-sidebar"}}">
    <div id="#anomali-banner">
        <img class="anomali-banner" src="https://media.licdn.com/media/AAEAAQAAAAAAAAV_AAAAJDgwZWE5ZDc4LWVjNjAtNDhhOC05ZDI3LTU0OTNmYTA3M2FmZA.png" height="250" width="900">
    </div>
  <div class="row">
    <div class="full-width">
      {{conditional-loading-spinner condition=loading}}

      <div id="header-list-area">
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  <div class="row {{if loading "hidden"}}">
    <div class="full-width">
      <div id="list-area">
        {{plugin-outlet "discovery-list-container-top"}}
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
</div>
